/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #b90b0b;
    border: none;
    border-radius: 12px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #d31111;
}
QPushButton:pressed {
    background: #990c0c;
    color: #e60c0c;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(248, 75, 75, 60%);
}
