/*--------------------------------------------
Tree view CSS
--------------------------------------------*/
QTreeWidget {
	background-color:rgba(0,0,0,0);
	selection-background-color: #7a0808;
	show-decoration-selected:0;
}
QTreeView{
    color: #C5C5C5;
    background-color: #2e2e2e;
    alternate-background-color: #393939;
    border: none;
    font: normal;
    qproperty-showGrid: false;
    qproperty-selectionBehavior: SelectRows;
}
QTreeView::item{
    border: none;
    padding: 4px;
}
QTreeView::item:selected{
    qproperty-showGrid: false;
    background: #7a0808;
    color: white;
}
QTreeView::disabled{
    color: rgba(197, 197, 197, 10%);
}
/*--------------------------------------------
Scroll bar dark CSS
--------------------------------------------*/
QScrollBar:vertical {
    background: #222222;
    width: 16px;
    padding: 5px 4px;
}
QScrollBar::handle:vertical {
    border: none;
    background: #2e2e2e;
    border-radius: 4px;
    min-height: 35px;
}
QScrollBar::handle:vertical:disabled {
    background: rgba(46, 46, 46, 40%);
}

QScrollBar:horizontal {
    background: #222222;
    height: 16px;
    padding: 4px 5px;
}
QScrollBar::handle:horizontal {
    border: none;
    background: #2e2e2e;
    border-radius: 4px;
    min-width: 35px;
}
QScrollBar::handle:horizontal:disabled {
    background: rgba(46, 46, 46, 40%);
}
/*--------------------------------------------
Check Box CSS
--------------------------------------------*/
QTreeView::indicator {
    width: 16px;
    height: 16px;
}
QTreeView::indicator::unchecked {
    image: url(:/styles/app-icons/checkbox_unchecked);
}
QTreeView::indicator::checked {
    image: url(:/styles/app-icons/checkbox_checked);
}
QTreeView:indicator:indeterminate {
    image: url(:/styles/app-icons/checkbox_indeterminate);
}
QTreeView::indicator::unchecked:hover {
    image: url(:/styles/app-icons/checkbox_unchecked_hover);
}
QTreeView::indicator::checked:hover {
    image: url(:/styles/app-icons/checkbox_checked_hover);
}
QTreeView:indicator:indeterminate:hover {
    image: url(:/styles/app-icons/checkbox_indeterminate_hover);
}
QTreeView:indicator:unchecked:disabled {
    image: url(:/styles/app-icons/checkbox_unchecked_disabled);  
}
QTreeView:indicator:checked:disabled {
    image: url(:/styles/app-icons/checkbox_checked_disabled);
}
QTreeView:indicator:indeterminate:disabled {
    image: url(:/styles/app-icons/checkbox_indeterminate_disabled);
}
